@{
	var status = Context.Request.Query["status"];
	var payment_pending = "text-primary-emphasis";
	var order_processing = "text-primary-emphasis";
	var payment_approved = "text-primary-emphasis";
	var order_shipped = "text-primary-emphasis";
	var order_cancelled = "text-primary-emphasis";
	var all = "text-primary-emphasis";

	switch (status)
	{
		case "payment_pending":
			payment_pending = "active text-primary-emphasis bg-warning";
			break;
		case "payment_approved":
			payment_approved = "active text-primary-emphasis bg-warning";
			break;
		case "order_processing":
			order_processing = "active text-primary-emphasis bg-warning";
			break;
		case "order_shipped":
			order_shipped = "active text-primary-emphasis bg-warning";
			break;
		case "order_cancelled":
			order_cancelled = "active text-primary-emphasis bg-warning";
			break;
		default:
			all = "active text-primary-emphasis bg-warning";
			break;
	}
}

<div class="card mt-4">
	<div class="card-header bg-light">
		<div class="row">
			<div class="col-12 text-center">
				<h1>Order List</h1>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="d-flex justify-content-between pb-3 pt-2">
			<span></span>
			<ul class="list-group list-group-horizontal-sm">
				<a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="payment_pending">
					<li class="list-group-item @payment_pending">Payment Pending</li>
				</a>
				<a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="payment_approved">
					<li class="list-group-item @payment_approved">Payment Approved</li>
				</a>
				<a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="order_processing">
					<li class="list-group-item @order_processing">Order Processing</li>
				</a>
				<a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="order_shipped">
					<li class="list-group-item @order_shipped">Order Shipped</li>
				</a>
				<a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="order_cancelled">
					<li class="list-group-item @order_cancelled">Order Cancelled</li>
				</a>
				<a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="all">
					<li class="list-group-item @all">All</li>
				</a>
			</ul>
		</div>
		<table id="tblData" class="table table-bordered table-striped" style="width:100%">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Phone Number</th>
					<th>Email</th>
					<th>Order Status</th>
					<th>Total</th>
					<th></th>
				</tr>
			</thead>
		</table>
	</div>
</div>

@section Scripts {
	<script src="~/js/order.js"></script>
}