@model List<Product>

<div class="row pb-3 mb-4">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        @if (product.ProductImages != null && product.ProductImages.Count() > 0)
                        {
                            <img class="img-card-top rounded d-block w-100" style="height: 350px; object-fit: cover;" src="@product.ProductImages.FirstOrDefault().ImageUrl" />
                        }
                        else
                        {
                            <img class="d-block w-100" style="height: 350px; object-fit: cover;" src="https://placehold.co/500x600/png" />
                        }

                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Title</p>
                                <p class="card-title text-warning text-center">by <b>@product.Author</b></p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center mb-0">
                                    Price: @product.Price.ToString("c")
                                </p>
                            </div>
                        </div>

                        <div>
                            <a asp-action="Details"
                               asp-route-id="@product.Id"
                               class="btn btn-info form-control mt-2">
                                Details
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
</div>

<style>
    .card-title {
        min-height: 45px; /* keep title area equal height */
        line-height: 1.2em;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* show only 2 lines */
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }
</style>